.container {
    display: flex;
    align-items: center;
    margin: 2% auto;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    direction: rtl;
    width: 320px;

  }
  

  
  .text {
    font-family: 'AssistantR', sans-serif;
    font-size: 1.2rem;
    direction: rtl;
   
   font-weight: 400;
    margin-right: 10px;
    width: 80%;
    text-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .icon {
    width: 20%;
    filter: drop-shadow(2px 2px 3px rgba(117, 117, 117, 0.5));
  }
  
  @media (max-width: 350px) {
    .container {
        width: 270px;
        padding: 0.4rem 0.8rem;
  
    }
  
    .container:hover {
      
    }
  
    .text {
        width: 100%;
        font-size: 1.1rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }
  
    .icon {
        width: 30%;
        text-align: center;
    }
  }